/*NavBar*/

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(wallpaper.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
#pBtn {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
}

li.name {
  color: white;
  dislpay: block;
  text-align: center;
  padding: 8px;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

li {
  float: right;
}

li a {
  border-radius: 12px;
  color: white;
  background-color: #222;
  display: block;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 12px;
  font-family: 'Nunito Sans', sans-serif;
}

li a:hover {
  border-radius: 12px;
  color: white;
  text-decoration: none;
  background-color: #111;
  font-family: 'Nunito Sans', sans-serif;
}


/*EndNavBar*/
.clearfix {
	
	
	overflow: auto;
}

#signature {
	
	color: #FB4673;
	float: right;
	font-size: 37 px;
	font-family: 'Covered By Your Grace';

}


#Mephoto {
  
 
 
    color: white;
  
  border-radius: 320px;
     border: solid ;
 
  margin-right: 230px;
  float: right;
  margin-bottom: 202px;
  
  
  background-color: #FB4673;
  
  
     
 
   
}


h3 {
	
   position: absolute;
	    
	    width: 350px;
	    height: 350px; 
		
	   
	   font-size: 30px;
	    opacity: 0;
		background-color: white;
	    -webkit-transition: opacity 0.6s;
	    -moz-transition: opacity 0.6s;
	    transition: opacity 0.6s;
       
       line-height:200px;
	     margin: 0 2px;
  padding: 10px 3px;
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  margin-right: 10px;
	    border-radius: 12px;

}
 h3:hover {
	 
	 opacity: 0.9;
 }

#text2 {
	
	  text-align: center;
        display: block; 	
}
img {
  border: solid;
  border-radius: 25px;
  padding: 50px;
  float: left;

}

#Ah1 {
  font-family: 'Trade Winds';
  text-align: center;
  margin-top: 100px;
  color: white;
  font-size: 80px;
  text-decoration: underline;
}

#aboutme {
  text-align: left;
  font-size: 18px;
  font-family: ;Oswald;
  background-color: silver;
  color: black;
  padding: 50px;
  font-family: 'Nunito Sans', sans-serif;
  margin-left: 200px;
  margin-right: 200px;
  border: solid white;
}
/* relevant styles */

.portfolio {
  padding: 0px;
  font-size: 20px;
  text-align: center;
  background-color: silver;
  color: black;
  font-family: 'Nunito Sans', sans-serif;
  
  
}

#Portfolio {
  padding: 50px;
  text-align: center;
  background-color: silver;
  color: black;
  font-family: 'Ubuntu', sans-serif;
   margin-left: 200px;
  margin-right: 200px;
  border: solid #ff6699;
  
}

.btn {
  border-radius: 15px;
  margin: 0 2px;
  padding: 10px 3px;
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  margin-right: 120px;
  
  
}

.btn:hover {
  font-family: 'Nunito Sans', sans-serif;
 box-shadow: 10px 9px 62px 82px rgba(223,35,60,0.65);
  opacity: 1; 
}

#pBtn {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
 width: 10px;
  margin: 10px;
}

#Contact {
  padding: 30px;
  text-align: center;
  background-color: silver;
  color: grey;
  font-family: 'Ubuntu', sans-serif;
    padding: 50px;
  text-align: center;
 margin-top: 20px;
  color: black;
  font-family: 'Ubuntu', sans-serif;
   margin-left: 200px;
  margin-right: 200px;
  border: solid #ff6699;
}

#icons {
  font-size: 24px;
  
  text-decoration:none; 
  color:inherit;
}

#icons:hover {
  color: pink;
  text-decoration:none; 
  color:inherit;
}

#fcc {
  padding: 20px;
   text-decoration:none; 
  color:inherit;
}

#lnkdn {
  padding: 20px;
   text-decoration:none; 
  color:inherit;
}

#git {
  padding: 20px;
   text-decoration:none; 
  color:inherit;
}

#gmail {
  padding: 20px;
  
}

/************************************************/
/* Pour le design adaptatif (responsive design) */
/************************************************/

/* Règles CSS à appliquer si la largeur de l'écran est entre 550 pixels et 770 pixels */
@media only screen and (min-width: 550px) and (max-width: 770px) {
	/* Ajustement automatique de la taille de l'image dans l'en-tête*/
	header img {
		width: 90%;
		height: 90%;
	}
	/* le menu principal n'est plus disposé avec flex et reprend son 
	comportement normal en se plaçant en-dessous de l'autre menu */
	#conteneurflex 
	{
		display:block;
	}
	#menuprincipal li
	{
		width: 99%;
		text-align: right;
		
	}
	#contenu
	{
		width: auto; /* s'ajuste automatiquement pour occuper toute la largeur disponible */
	}
}

.column {
    flex: 33.33%;
    padding: 5px;
	column-count: 2;
	}
	.column2 {
    flex: 33.33%;
    padding: 5px;
	column-count: 2;
	}

/* Règles CSS à appliquer si la largeur de l'écran fait moins de 550 pixels */
@media only screen and (max-width: 1520px) {
	/* Réduction de la taille de l'image */
	header img {
		width: 90%;
		height: 90%;
	}
	/* le menu principal n'est plus disposé avec flex et reprend son 
	comportement normal en se plaçant en-dessous de l'autre menu */

	/* on fait disparaitre les menus */
	#Contact
	{
		margin: 0px;
		padding: 0px;
		width: 100%;
		margin-top: 25px;
	}
	/* on fait apparaitre l'icône du menu pour petits écrans */
	
	#aboutme
	{
		margin: 0px; /* s'ajuste automatiquement pour occuper toute la largeur disponible */
		width: 100%;
		margin-top: 25px;
	}
	
	#Portfolio 
	{
		margin: 0px;
		width: 100%;
		margin-top: 25px;
	
		
	}
	
	#signature {
		
		display: none;
	}
	
	#pBtn {
		
		margin: 0px;
		padding: 0px;
		
		  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
display: flex;
 width: 10px;
  margin: 10px;
	}
	
	h3 {
		
		display: none;
	}
	
	
	#mephoto {
		
		padding: 0px;
		border: none;
		margin: 0px;
		height: 200px;
		
	}
	/* les sous-sections ne sont plus disposées en colonnes avec flex et reprennent leur 
	comportement normal en se plaçant une au-dessus de l'autre */


}
