/*NavBar*/

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(wallpaper.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
#pBtn {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
}

li.name {
  color: white;
  dislpay: block;
  text-align: center;
  padding: 8px;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

li {
  float: right;
}

li a {
  border-radius: 12px;
  color: white;
  background-color: #222;
  display: block;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 12px;
  font-family: 'Nunito Sans', sans-serif;
}

li a:hover {
  border-radius: 12px;
  color: white;
  text-decoration: none;
  background-color: #111;
  font-family: 'Nunito Sans', sans-serif;
}


/*EndNavBar*/
.clearfix {
	
	
	overflow: auto;
}

#signature {
	
	color: grey;
	float: right;
	font-family: 'Covered By Your Grace';

}


#Mephoto {
  
 
  background-color:red;
    color: white;
  
  border-radius: 320px;
     border: solid ;
  
  margin-right: 230px;
  float: right;
  
  
  background-color: #FB4673;
  
  
     
 
   
}
.text {

 color: black;
 font-family: 'Ubuntu', sans-serif;
 font-size: 32px;
	border: #FB4673;
	margin: auto;
	margin-left: 210px;
	margin-top: 20px;
	

 
 
 
}

.container:hover .overlay {
  opacity: 1;
}

.overlay {
  
  opacity: 0;
  transition: .5s ease;
  background-color: transparent;
  margin-right: 0px;
  float: right;
  
}


img {
  border: solid;
  border-radius: 25px;
  padding: 50px;
  float: left;
}

#Ah1 {
  font-family: 'Trade Winds';
  text-align: center;
  margin-top: 100px;
  color: white;
  font-size: 80px;
  text-decoration: underline;
}

#aboutme {
  text-align: left;
  font-size: 18px;
  font-family: ;Oswald;
  background-color: silver;
  color: black;
  padding: 50px;
  font-family: 'Nunito Sans', sans-serif;
  margin-left: 200px;
  margin-right: 200px;
  border: solid white;
}
/* relevant styles */

.portfolio {
  padding: 0px;
  font-size: 20px;
  text-align: center;
  background-color: silver;
  color: black;
  font-family: 'Nunito Sans', sans-serif;
  
  
}

#Portfolio {
  padding: 50px;
  text-align: center;
  background-color: silver;
  color: black;
  font-family: 'Ubuntu', sans-serif;
   margin-left: 200px;
  margin-right: 200px;
  border: solid #ff6699;
  
}

.btn {
  border-radius: 15px;
  margin: 0 2px;
  padding: 10px 3px;
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  margin-right: 120px;
  
  
}

.btn:hover {
  font-family: 'Nunito Sans', sans-serif;
 box-shadow: 10px 9px 62px 82px rgba(223,35,60,0.65);
}

#pBtn {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
 width: 10px;
  margin: 10px;
}

#Contact {
  padding: 30px;
  text-align: center;
  background-color: silver;
  color: grey;
  font-family: 'Ubuntu', sans-serif;
    padding: 50px;
  text-align: center;
 margin-top: 20px;
  color: black;
  font-family: 'Ubuntu', sans-serif;
   margin-left: 200px;
  margin-right: 200px;
  border: solid #ff6699;
}

#icons {
  font-size: 24px;
  
  text-decoration:none; 
  color:inherit;
}

#icons:hover {
  color: pink;
  text-decoration:none; 
  color:inherit;
}

#fcc {
  padding: 20px;
   text-decoration:none; 
  color:inherit;
}

#lnkdn {
  padding: 20px;
   text-decoration:none; 
  color:inherit;
}

#git {
  padding: 20px;
   text-decoration:none; 
  color:inherit;
}

#gmail {
  padding: 20px;
  
}
